/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

@font-face {
  font-family: "Mumbai Curry";
  src: url("../fonts/Mumbai-Curry-Demo.otf") format("opentype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

html {
  font-size: 16px;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Mumbai Curry", "Roboto Thin", "Roboto Regular", "Roboto Bold";
  color: $text-dark;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
